body {
    background-color: hsl(212, 45%, 89%);
    width: 375px;
    max-width: 1440px;
    
}

#image img{
    width: 260px;
   
    margin-left: 19px;
    margin-top: 120px;
    border: 1px solid white;
    border-width: 20px;
    border-bottom-width: 190px;
    border-radius: 15px;
    }

#container {
    margin-top: -180px;
    margin-left: 50px;
} 

#advice {
    font-weight: lighter;
    color: black;
    font-size: 13px;
    margin-left: 50px;
}

#last{
    color: black;
    margin-left: 70px;
    margin-top: -10px;
}

#closing {
    margin-top: 140px;
    color: #020305;
}
    

